In [1]:
# Importmaos las librerias necesarias
import pandas as pd 

from sklearn.cluster import MiniBatchKMeans # Para computadores con menos capacidad computacional

In [2]:
# Cargar nuestro dataset
dataset = pd.read_csv('./documents/candy.csv')
dataset.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465

In [3]:
# Crear nuestras features, solo de X, ya que ocuparemos clustering
X = dataset.drop('competitorname', axis=1)

In [6]:
# Creando nuestro batch de k-means
kmeans = MiniBatchKMeans(n_clusters=4, batch_size=8).fit(X)

print('Total de centros: ', len(kmeans.cluster_centers_))

Total de centros:  4

In [7]:
# Prediccion de kmeans
print(kmeans.predict(X))

[0 0 3 1 2 2 2 3 1 3 1 1 3 1 1 1 1 1 2 3 2 1 2 2 2 2 3 2 0 1 1 2 0 0 1 2 0
 2 2 1 2 2 0 0 3 1 1 0 1 1 1 0 0 0 0 3 2 3 1 3 2 2 1 1 0 2 2 2 0 3 3 3 3 2
 1 1 1 2 1 0 1 1 1 1 2]

In [8]:
# Agregar una columna en nuestro dataset con los datos que nos arrojo kmeans
ataset['group'] = kmeans.predict(X)
dataset.head()

,competitorname,chocolate,fruity,caramel,peanutyalmondy,nougat,crispedricewafer,hard,bar,pluribus,sugarpercent,pricepercent,winpercent,group
0,100 Grand,1,0,1,0,0,1,0,1,0,0.732,0.860,66.971725,0
1,3 Musketeers,1,0,0,0,1,0,0,1,0,0.604,0.511,67.602936,0
2,One dime,0,0,0,0,0,0,0,0,0,0.011,0.116,32.261086,3
3,One quarter,0,0,0,0,0,0,0,0,0,0.011,0.511,46.116505,1
4,Air Heads,0,1,0,0,0,0,0,0,0,0.906,0.511,52.341465,2